<!DOCTYPE html>

<html>

<head>
    <title>mfm</title>
</head>

<body bgcolor="black">

<script>
function hideAllDivs(){
    var divs = document.getElementsByTagName('div');
    for(var i = 0; i < divs.length; i++) {
        divs[i].style.display = "none";
    }
}

function showAllDivs(){
    var divs = document.getElementsByTagName('div');
    for(var i = 0; i < divs.length; i++) {
        divs[i].style.display = "block";
    }
}

function send() {
    var request = new XMLHttpRequest();
    request.open('GET', '/getName', true);
    request.onload = function() {
	if(this.response) {
	    document.getElementById('detectedName').textContent = "Hi " + this.response;
	    showAllDivs();
	    setTimeout(function(){ send(); }, 4000);
	}
	else {
	    hideAllDivs();
	    setTimeout(function(){ send(); }, 100);
	}
    }
    request.send();
}
send();

function checkTime(i) {
    return i<10 ? "0"+i : i;
}
function time() {
    var d = new Date();
    var h = d.getHours();
    var m = checkTime(d.getMinutes());
    document.getElementById('clock').textContent = h + ":" + m;

    var date = d.toString().split(' ').splice(1,3).join(' ');
    document.getElementById('date').textContent = date;
}
setInterval(time, 1000);
</script>

<style>
.dateStyle {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 40px;
  color: #675F5F;
  font-family: 'Roboto', sans-serif;
}

.clockStyle {
  position: absolute;
  top: 56px;
  left: 16px;
  font-size: 40px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.nameStyle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  //font-variant: small-caps;
  color: white;
  font-family: 'Roboto', sans-serif;
}
</style>

<div id="date" class="dateStyle"></div>
<div id="clock" class="clockStyle"></div>
<div id="detectedName" class="nameStyle"></div>

</body>

</html>
